.App {
  text-align: center;
}

.article-card {
  padding: 10px;
  background-color: lightgrey;
  margin: 10px 0%;
  border: 5px solid black;
  border-radius: 50px;
}

.comment-card {
  padding: 10px;
  background-color: lightgrey;
  margin: 25px 0%;
  text-align: left;
  border: 5px solid black;
  border-radius: 10px;
  filter: drop-shadow(25px 10px 5px rgba(0, 0, 0, 0.233));
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(99, 99, 99);
}

li {
  list-style: none;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

.vote-button-increase,
.vote-button-decrease {
  background: black;
  color: #dfdfdf;
  padding: 10px 25px;
  border-radius: 100px;
  font-size: 1em;
  font-weight: 600;
  border: 0px;
  transition-duration: 200ms;
}

.vote-button-increase:hover,
.vote-button-decrease:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.vote-button-increase:disabled {
  background: green;
}

.vote-button-decrease:disabled {
  background: rgb(175, 0, 0);
}

.comment-button-delete {
  background: red;
  color: #ffffff;
  padding: 5px 15px;
  border: 3px solid black;
  font-size: 1em;
  font-weight: 600;
  border-radius: 50px;
  transition-duration: 200ms;
}

.comment-button-delete:hover {
  background-color: rgb(199, 0, 0);
  transform: scale(1.05);
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
