.App {
  text-align: center;
}

.article-card {
  padding: 10px;
  background-color: lightgrey;
  margin: 25px 0%;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(99, 99, 99);
}

li {
  list-style: none;
}
